body {
  text-align: center;
  color: rgb(83, 75, 75);
  background-color: rgb(233, 215, 207);
  font-family: "Fira Sans", sans-serif;
}
header {
  margin-bottom: 64px;
}
h1 {
  font-family: "Oswald", sans-serif;
  font-size: 48px;
  color: rgb(71, 62, 62);
  margin: 0;
}
h2 {
  font-family: "Oswald", sans-serif;
  color: rgb(78, 13, 5);
}
header p {
  margin: 12px 0;
}
main ol p {
  margin: 12px;
  color: rgb(71, 29, 22);
}
.highlight-goal {
  background-color: rgb(226, 115, 101);
}
a {
  color: white;
  text-decoration: none;
  background-color: rgb(167, 1, 78);
  border-radius: 4px;
  font-size: 24px;
  padding: 12px 48px;
  display: inline-block;
  margin: 0;
}
a:hover {
  background-color: rgb(180, 12, 90);
}
#today-challenge {
  color: rgb(170, 96, 83);
  font-weight: bold;
  font-size: 52px;
}
img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
ol {
  list-style: none;
  width: 500px;
  margin: 36px auto 0 auto;
  padding: 0;
}
li {
  background-color: rgb(223, 136, 124);
  border-radius: 6px;
  margin: 32px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
